.list-cell {
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-padding: 0px;
    -fx-stroke-width: 0px;
    -fx-background-color: #465866;
    -fx-border-color: #697680;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

.list-cell .button {
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-stroke-dash-array:25d 10d
}
.list-cell:selected {
    -fx-background-color: #F1B65A;
}

.list-cell .label {
    -fx-text-fill: #FFFFFF;
}

.list-cell:selected .label {
    -fx-text-fill: #000000;
}

.list-view {
    -fx-padding: 3px;
    -fx-stroke-width: 0px;
    -fx-background-color: transparent, -fx-background;
}
